.next/
node_modules/
out/
dist/
coverage/
.env.local
.env
.env.*
!.env.example
pnpm-cli/
pnpm.tgz
next-start.log
next-start.err.log
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo
artifacts/
cache/
typechain-types/
